.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 7rem;
  background-color: rgba(128, 200, 209, 0.575);
  background-size: cover;
  border-radius: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: italic;
}
.widthDiv {
  width: 10rem;
}
.name {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
}
.profile {
  width: 10rem;
  height: 10rem;
  border-radius: 3px;
}
.resume {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: italic;
}
.introduction {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 15px;
  gap: 5rem;
  margin: 2rem;
  background-color: rgb(187, 206, 223);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: medium;
}
.side {
  background-color: rgb(187, 206, 223);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 10px;
  gap: 5rem;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body {
  background-color: rgb(215, 237, 250);
}
